<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vlada Fursa</title>
    <link href="{% static '/css/stylesheet.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b70fb90308.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <div class="profile">
                <div class="imgMe">
                    <img id = "photo" src = "{% static 'images/me for cv.jpeg' %}">
                </div>
                <h1><strong>Vlada Fursa</strong></h1>
                <p><i class="fa-solid fa-location-dot"></i>Nottingham, UK  |  Minsk, Belarus<br>
            </div>
            <div class="contacts">
                <h2>Contact info</h2>
                    <ul>
                            <li><i class="fa-solid fa-phone"></i>+447495439517(UK)</li>
                            <li><i class="fa-solid fa-phone"></i>+375296597797(BY)</li>
                            <li><i class="fa-solid fa-envelope"></i>fursa_vlada@mail.ru</li>
                            <li><a href ="https://github.com/vladafursa"><i class="fa-brands fa-github"></i>vladafursa</a></li>
                            <li><a href ="www.linkedin.com/in/vlada-fursa"><i class="fa-brands fa-linkedin"></i>My LinkedIn</a></li>
                            <li><a href="https://t.me/VladaFursa"><i class="fab fa-telegram"></i>VladaFursa</a></li>

                    </ul>
            </div>

        </div>
        <div class="right">
            <div id="me">
                <h2><strong>Profile</strong></h2>
                A first year Computer Science student at Nottingham Trent. I am seeking a junior position or an internship. I am a dedicated worker with a keen eye for detail, able to work in a team or individually. I am looking for an experience in field related to my studies.
            </div>
            <div id = Education >
                <h2 id="edu"><strong>Education</strong></h2>
                <h4>2023-2025</h4>
                <div class = "bold">Nottingham Trent University - Bachelor in Computer Science</div>
                <h4>2022-2023</h4>
                <div class = "bold">Nottingham Trent International College - International Year One in Computing</div>
                Overall for the first term - 1.1<br>
                Introduction to System Analysis and Design, result - 1.1<br>
                Maths for Computing, result - 1.1<br>
                Networking, result - 1.1<br>
                Python Programming, result - 1.1<br>
                <h4>2021-2022</h4>
                <div class = "bold">Belarusian State University - Applied Computer Science</div>
                Finished the first course.<br>
                <h4>2010-2021</h4>
                <div class = "bold">Gymnasium 1, Lida</div>Finished with a golden medal.<br>
            </div>


            <div id = Skills>
                <h2><strong>Key Skills</strong></h2>
                <ul>
                    <h3>Hard Skills</h3>

                    <li><b>C++</b></li>
                    <li><b>Python</b></li>
                    <li><b>Django</b></li>
                    <li><b>SQL</b></li>
                    <li><b>HTML</b></li>
                    <li><b>CSS</b></li>
                    <li><b>JavaScript</b></li>
                    <li><b>JQuery</b></li>
                    <li><b>Networking</b></li>
                    <li><b>System Analysis</b></li>
                   <h3>Soft skills</h3>
                <li><b>Proficiency in Microsoft Office applications</b> - Utilized Microsoft Office applications (Word and Excel) to produce documents, letters, emails, and minutes.</li>
                <li><b>Teamwork</b> - When I was working as part of the exam checking team, we worked on different floors and needed to communicate to move between floors to support students.</li>
                <li><b>Communication</b> - While working as part of the exam checking team, I greeted each student and wishes them good luck, also I was communicating with an examination committee, providing it any help if needed.</li>
                <li><b>Problem solving</b> - Back to my experience in working as a duty on the exam if a student had a problem or a question(of course not connected with tasks), I was able to help and give a piece of advice, whether they couldn´t find their names in the list or just looking for a classroom.</li>
                <li><b>Time-management</b> - During my first job I was comfortable doing several tasks such as checking documents, guiding students and solving their problems at time.</li>
                <li><b>Creativity</b> - At University we were given a project to increase sales of a brand of mobile phone. I suggested changing the design of the phone and my team used this idea for the project.</li>
                <li><b>Organization</b> - While doing project on System Analysis, I was a leader of the team. I was responsible for organizing meetings: preparation of our aims for it, checking everybody´s availability, presenting out team during classes.</li>

            </ul>
            </div>
            <h2><strong>Work experience</strong></h2>
<div id = Experience>
    <div class="position">
        <div class="year">
            January 2023-current<br>
            Nottingham College
        </div>
        <div class="desc">
            <p><strong>Exam invigilator</strong></p>
            Duties:
            <ul>
                <li>Distribution and collection of exam papers</li>
                <li>Check for and take into account Access Arrangements for candidates where appropriate</li>
                <li>Completing the attendance register</li>
                <li>Work to the timing of the exam advising candidates of the start and end times</li>
                <li>Maintain exam conditions throughout by ensuring students are silent and they do not communicate with each other</li>
                <li>Invigilate candidates with extra time</li>
                <li>Collecting exam papers at the end of the exam</li>
                <li>Reporting all exceptional events</li>
            </ul>
        </div>
        </div>
        <div class="position">
        <div class="year">
            June 2022<br>
            Belarusian State University
        </div>
        <div class="desc">
            <p><strong>Duty on the exam</strong></p>
            Duties:
            <ul>
                <li>Checking documents to ensure correct person, </li>
                <li>Student support to provide guidance, </li>
                <li>Enforced the no mobiles phone policy to ensure fairness,</li>
                <li>Prevent cheating by observing,</li>
                <li>keeping silence in the classroom, </li>
                <li>help with organization issues, </li>
            </ul>
        </div>


    </div>

</div>
            <h2><strong>Additional information</strong></h2>
            <div id = Additional>
                Training – Introduction to Software Testing [2022]<br>
                <h4>Languages:</h4>
                Russian and Belarusian - mother tongues;<br>
                English - advanced(IELTS 7.0, C1);<br>
                Spanish - A1.<br>
            </div>
            <h2><strong>Interests</strong></h2>
            <div id = Interests>
                <em>Programming</em> - I enjoy solving problems with the help of programming languages and maths. It gives me special feeling, when I create something new. <br>
                <em>Painting</em> - I like spending my free time painting also because it gives me the opportunity to show my imagination and creativity.<br>
                <em>Sports, especially running</em> - I keep fit with the help of everyday exercises, moreover I always took part in numerous competitions in running and won some of them.<br>
            </div>

        </div>
    </div>
</body>
</html>